# CSV

In [1]:
import pandas as pd

In [6]:
pwd

# report the directory and format style

'/Users/vazgenosipov/Desktop/Python/Python Data analys/Pandas'

In [7]:
ls
#list of files in a current directory

Combining DF.ipynb           Missing Data.ipynb
Conditional Filtering.ipynb  Series.ipynb
DataFrames.ipynb             Text Methods.ipynb
GroupBy Operations.ipynb     Time Methods.ipynb
Input and Output CSV.ipynb   Useful Methods.ipynb

In [8]:
import os

In [9]:
# to get the same result with function

os.getcwd()

'/Users/vazgenosipov/Desktop/Python/Python Data analys/Pandas'

In [12]:
pd.read_csv("/Users/vazgenosipov/Desktop/Python/Python Data analys/UNZIP_FOR_NOTEBOOKS_FINAL/DATA/example.csv")

# it automatically guessed that abcd is a header
# may turn it off by ("filepath", header = None)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
# when you read use pd.read_csv()
# when you write DataFrame,to_csv()
# since you are writing directly to dataframe

In [16]:
df = pd.read_csv("/Users/vazgenosipov/Desktop/Python/Python Data analys/UNZIP_FOR_NOTEBOOKS_FINAL/DATA/example.csv")

# index_col = 0 - will make the column 0 - index of the dataset

In [17]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
# SAVE dataframe
# with on saving to index

df.to_csv("/Users/vazgenosipov/Desktop/Python/Python Data analys/new_file.csv", index = False)

In [31]:
# now lets read this file


pd.read_csv("/Users/vazgenosipov/Desktop/Python/Python Data analys/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/new_file.csv")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# EXCEL

In [1]:
# already have them in inviroment bu may 

# need to instal 

# xlrd - libriary
# openpyxl - libriary

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("my_excel_file.xlsx",engine='openpyxl', sheet_name= "First_Sheet")

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
# if you don't know the sheet name
# create a python object

wd = pd.ExcelFile("my_excel_file.xlsx")

In [7]:
wd.sheet_names

# within this object ask for a folder names
# may create a for loop

['First_Sheet']

In [9]:
excel_sheet_dict = pd.read_excel("my_excel_file.xlsx", sheet_name = None)

In [10]:
excel_sheet_dict

# this will store all sheets and dataframes within it 
# if you call the names 
# you will retrieve the database

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [12]:
excel_sheet_dict["First_Sheet"]

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
# WRITE to excel

In [13]:
data_frame = excel_sheet_dict["First_Sheet"]

In [15]:
data_frame.to_excel("New_example_created.xlsx", sheet_name="First_sheet")

# be aware that it will rewrite the existing file
# last command delits the index