# Series 
a data structure in Pandas that holds an array of information along with a named index

(one-dimensional ndarray with axis labels)

In [1]:
import numpy as np

In [2]:
import pandas as pd

## 1 way of creating a Series

In [3]:
# create two variables

myindex = ["USA", "Uzbekistan", "Armenia"]
mydata = [2022, 1996,1967]

In [4]:
# create a Series with index and data

myser = pd.Series(data = mydata, index= myindex)

In [5]:
myser

USA           2022
Uzbekistan    1996
Armenia       1967
dtype: int64

In [12]:
# grabbing information 
# with index possition 

myser[0]

2022

In [13]:
# grabbing information 
# with labeled index

myser["USA"]

2022

## 2 way of creating a Series

In [14]:
# Create a dict

ages = {"Sam": 5, "Joe": 10, "Loh": 7}

In [15]:
# assign that dict to Series
# Pandas will automaticly create Series
# keys - indexes
# values - data

pd.Series(ages)

Sam     5
Joe    10
Loh     7
dtype: int64

# Operations on Pandas

In [17]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [19]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [22]:
sales_q1["Japan"]

80

### To search for the keys

In [23]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

## Broadcasting

### ( * , / , ** , + , - )

In [24]:
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [25]:
sales_q1 / 10

Japan     8.0
China    45.0
India    20.0
USA      25.0
dtype: float64

In [26]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
sales_q2
# note that Japan is replaced by brazil

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [28]:
sales_q1 + sales_q2

# pandas will understan by index the difference in values 
# but wont be able to calculate them

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [29]:
# to sole this 
# need to add values to both colums that are missing with 
# 0 values for additional procidures

## ADD

In [43]:
sales_q1.add(sales_q2,fill_value=0 )


# one series + another
# fill in "fill_value" in case something is missing in any 
# of the series

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [35]:
# as soon as you start doing numeric calculations with any object
# within pandas it will conver it to floating point number

In [42]:
sales_q1.add(sales_q2,fill_value=0).dtype

dtype('float64')